
* {
    font-family: 'Noto Sans TC', sans-serif;
}

#page{
    background-color: rgb(255, 255, 255);
}

#login{
    position: fixed;
    float: left;
    background-color: transparent;
    margin-left: 140px;
    margin-top: 323px;
    width: 765px;
    height: 200px;
    border-radius: 2%;
}

#newaccount{
    position: fixed;
    display: none; 
    float: left;
    background-color: transparent;
    margin-left: 140px;
    margin-top: 323px;
    width: 765px;
    height: 200px;
    border-radius: 2%;
}

#Email{
    background-color: rgb(243, 189, 73);
    border: 0px;
    margin-top: 29px;
    height: 63px;
    width: 332px;
    padding: 12px 20px;
    margin-left: 55px;
    display: inline-block;
    border-radius: 15px;
    box-sizing: border-box;
    outline: none;
}
#newEmail{
    background-color: rgb(243, 189, 73);
    border: 0px;
    margin-top: 29px;
    height: 63px;
    width: 332px;
    padding: 12px 20px;
    margin-left: 55px;
    display: inline-block;
    border-radius: 15px;
    box-sizing: border-box;
    outline: none;
}
#Password{
    background-color: rgb(243, 189, 73);
    border: 0px;
    margin-top: 27px;
    height: 63px;
    width: 332px;
    padding: 12px 20px;
    margin-left: 55px;
    display: inline-block;
    border-radius: 15px;
    box-sizing: border-box;
    outline: none;
}
#newPassword{
    background-color: rgb(243, 189, 73);
    border: 0px;
    margin-top: 27px;
    height: 63px;
    width: 332px;
    padding: 12px 20px;
    margin-left: 55px;
    display: inline-block;
    border-radius: 15px;
    box-sizing: border-box;
    outline: none;
}
p {
    margin-left: 8%;
    font-size: 16px;
}
.btn{
    font-weight: 900;
    font-size: 30px;
    width: 70%;
    padding: 12px 20px;
    margin-left: 15%;
    display: inline-block;
    border: 4px solid black;
    color: white;
    text-shadow:
      -2.5px -2.5px 0 #000,  
       2.5px -2.5px 0 #000,
      -2.5px 2.5px 0 #000,
       2.5px 2.5px 0 #000,
       -2.5px 0px 0 #000,  
       2.5px 0px 0 #000,
       0px 2.5px 0 #000,
       0px -2.5px 0 #000;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}
.btn:hover{
    border: 4px solid white;
}
#submitBtn{
    width: 70%;
    height:  80%;
    background-color: rgb(243, 189, 73);
    margin-top: 13%;
}
#newAccountBtn{
    width: 70%;
    height:  80%;
    background-color: rgb(243, 189, 73);
    margin-top: 13%;
}
#addAccountBtn{
    width: 70%;
    height:  80%;
    background-color: rgb(243, 189, 73);
    margin-top: 13%;
}
#returnLoginBtn{
    width: 70%;
    height:  80%;
    background-color: rgb(243, 189, 73);
    margin-top: 13%;
}